:root {
  /* Cinza */
  --texto-primario: #181818;
  --texto-secundario: #5C5C5C;
  --texto-terciario: #747474;
  --icones: #7C7B7B;
  --contorno: #D7D7D7;
  --divisores: #EDEDED;
  --texto-desativado: #8A8A8A;
  --bg-desativado: #EFEFEF;
  --boxes-inputs: #F8F8F8;
  --branco: #FFF;
  
  --cor-primaria: #2D5BFF;
  --cor-secundaria: #6284FD;
  --cor-terciaria: #96ADFF;
  --cor-quaternaria: #ECF0FF;
  --cor-hover: #1B4AF0;
  --cor-click: #002ED0;
}

.tema-violeta {
  --cor-primaria: #AF4BFE;
  --cor-secundaria: #BE74F9;
  --cor-terciaria: #E2BDFF;
  --cor-quaternaria: #F5E8FF;
  /* Essas duas abaixo não foram definidas no figma: */
  --cor-hover: #a530ff;
  --cor-click: #8e25df;
}
